/*
 * @Author: Leon
 * @Date: 2017-01-19 16:59:17
 * @Last Modified by: Leon
 * @Last Modified time: 2017-06-06 10:47:05
 */

@import 'reset.less';
@import '_vars.less';
@import 'markdown.less';
@import 'animation.less';
@font-face {
  font-family: PingFang SL;
  src: url(https://ohv0hyr4v.qnssl.com/pingfangSL.ttf);
}

body {
  color: @default;
  font-size: 16px;
  font-family: PingFang SL, Microsoft YaHei, STHeiti, Helvetica, Arial, sans-serif;
}
::selection {
  color: @white;
  background: @green;
}

.iconfont {
  font-size: 40px;
}

.icon-l1 {
  color: @danger;
}

.icon-k1 {
  color: @warm;
}

.icon-github {
  color: @black;
}

.icon-zhihu {
  color: @darkblue;
}

.icon-xiangmu {
  color: @blue;
}

.icon-jianli {
  color: @orange;
}

.btn{
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 0 6px;
  padding: 8px;
  border: 0;
  border-radius: 50%;
  line-height: 24px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.view{
  position: absolute;
  padding-top: 100px;
  padding: 100px 0 0 30px;
  left: 400px;
  right: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .view{
    position: absolute;
    top: 0;
    padding: 70px  20px 0;
    left: 0;
    right: 0;
  }

}